@charset "utf-8";
*{
	padding:0;
	margin:0;
	font-weight: normal;
}
ul li{
	list-style:none;
}
.toptoolbar ul{
	overflow:hidden;
	font-size: 0;
}
.toptoolbar ul li{
	 float:right; 
	 margin:10px 10px 10px 0;
	
}



.form-title h1 {
    text-align: center;
    color: #999;
    font-size: 20px;
	line-height: 50px;
   /* padding-top: 18px;*/
}
.form-title ul{
	width:90%;
	text-align:center;
	margin:30px auto 10px;
}
.form-title ul li{
 	float:left; 
	color: #999;
	padding-right:40px;
}
.form-title ul li h2{
	font-size: 12px;
	text-align: left;
	
}
.form-title ul li h2 span{
	display: inline-block;
	text-align: left;
	color:#999;
}


.form-title p{
	width:90%;
	margin:auto;
	color:#999;
	text-align: right;
	
}

#processForm{
	margin: auto;
	background:#fff;
	padding-bottom: 14px;
}

